doctype html
html
	head
		link(rel='stylesheet', href='/stylesheets/html5/html5.css')
		if title
			title #{title}
		else
			title Noumads
	body	
	script(type="text/javascript" src="/javascripts/html5/html5.js")
