extends landinglayout

block content
  div#notcarrousel.row.soon
    div.vertical-align
      div.row.landing.visible-lg
        div.col-lg-12.aviso
          div.col-lg-4.foto.col-lg-offset-1
            a(href="/")
                img.img-responsive.centered(src='images/logo/Noucaratext40pp.png')
          div.col-lg-7.title
            h1 
                i.icon-noumadsfontsvg500x500
                | ¡Ya estamos listos!
            h1
              small
                | Somos 
                b Noumads
                | , la comunidad de viajeros
              small  
        .col-lg-12
          hr
        .col-lg-12.contacts
          .col-lg-12
            .col-lg-6
              h2 Quieres ser parte de Noumads? Ingresa tu correo aquí
            .col-lg-6
              h2 O contáctanos en nuestras redes sociales
          .col-lg-12.maneras
            .col-lg-6
              .form-group.input-group.input-group-lg
                input.email.form-control.input-lg(type='email', name='email', placeholder='ejemplo@noumads.com')
                span.input-group-btn
                  a.btn.btn-default.saveMail(type='button') Envía!
            .col-lg-6 
                div.socialLinks
                  a.SocialLink.twitter(data-app='twitter', href='https://twitter.com/noumads', target='_blank')
                    i.fa.fa-twitter-square.fa-fw
                  a.SocialLink.facebook(data-app='facebook', href='https://www.facebook.com/noumads', target='_blank')
                    i.fa.fa-facebook-square.fa-fw   
                  a.SocialLink.instagram(data-app='instagram', href='http://instagram.com/noumads', target='_blank')
                    i.fa.fa-instagram.fa-fw             
      div.row.landing.hidden-lg
        .col-xs-12
            a(href="/")
                img.img-responsive.centered(src='images/logo/Noucaratext40pp.png')
        .col-xs-12.title
            h2 
                i.icon-noumadsfontsvg500x500
                | ¡Ya estamos listos!
            p
              small
                | Somos 
                b Noumads
                | , la comunidad de viajeros
        .col-xs-10.col-xs-offset-1
          hr
        .col-xs-12
          .col-xs-12.preinput
            h2 Quieres ser parte de Noumads? Ingresa tu correo aquí
            .form-group.input-group.col-xs-12.col-sm-10.col-sm-offset-1
              input.email.form-control(type='email', name='email', placeholder='ejemplo@noumads.com')
              span.input-group-btn
                a.btn.btn-default.saveMail(type='button') Envía!
          .col-xs-12.maneras
            h2 O contáctanos en nuestras redes sociales
            div.socialLinks
              a.SocialLink.twitter(data-app='twitter', href='https://twitter.com/noumads', target='_blank')
                i.fa.fa-twitter-square.fa-fw
              a.SocialLink.facebook(data-app='facebook', href='https://www.facebook.com/noumads', target='_blank')
                i.fa.fa-facebook-square.fa-fw   
              a.SocialLink.instagram(data-app='instagram', href='http://instagram.com/noumads', target='_blank')
                i.fa.fa-instagram.fa-fw             
