doctype html
html
	head
		if title
			title #{title}
		else
			title Noumads - Have Fun!
		meta(http-equiv='content-type', charset='UTF-8')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		meta(http-equiv='X-UA-Compatible' content='IE=edge')


		link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
		link(rel='stylesheet', href='/stylesheets/bootstrap-theme.min.css') 
		link(rel='stylesheet', href='/stylesheets/style.css') 
		link(rel='stylesheet', href='/stylesheets/landing.css') 
		link(rel='stylesheet', href='/stylesheets/animate.css') 
		link(rel='stylesheet', href='/fonts/font-awesome/css/font-awesome.min.css')

	body
		.canvas
			div
				block content
		include snipets/modal_login

	script(type='text/javascript' src='/javascripts/jquery-2.1.0.min.js')
	script(type="text/javascript" src="/javascripts/bootstrap.js")
