.navmenu.navmenu-default.navmenu-fixed-left
	ul.nav.navmenu-nav
		a.navmenu-brand(href='/') Noumads
		li
			a(href='/login') Ingresa
		li
			a(href='/register') Regístrate
	ul.nav.navmenu-nav
		a.navmenu-brand(href='#') Redes Sociales

		li.inline
			a(href='#' data-sn_address='http://www.twitter.com/noumads' data-sn_app='twitter://user?screen_name=noumads').snLink
				i.fa.fa-fw.fa-twitter.fa-stack-1x.front
			a(href='#' data-sn_address='http://www.facebook.com/noumads' data-sn_app='fb://profile/529480637197227').snLink
				i.fa.fa-fw.fa-facebook.fa-stack-1x.front
			a(href='#' data-sn_address='http://www.instagram.com/noumads' data-sn_app='instagram://user?username=noumads').snLink
				i.fa.fa-fw.fa-instagram.fa-stack-1x.front
	ul.nav.navmenu-nav
		li
			a(href='#') Link
		li
			a(href='#') Link
		li
			a(href='#') Link
		li.dropdown
			a.dropdown-toggle(href='#', data-toggle='dropdown')
				| Dropdown
				b.caret
			ul.dropdown-menu.navmenu-nav
				li
					a(href='#') Action
				li
					a(href='#') Another action
				li
					a(href='#') Something else here
				li.divider
				li.dropdown-header Nav header
					li
						a(href='#') Separated link
					li
						a(href='#') One more separated link
