#notcarrousel{
	background: url(/images/noumads/run.jpg) no-repeat center center fixed;
	background-size: cover;
}
.landing{
	text-align:center;
}

img.centered{
    margin:0 auto;
}

.socialLinks i {
    font-size: 46px;
}
