doctype html
html
	head
		if title
			title #{title}
		else
			title Noumads
		meta(http-equiv='content-type', charset='UTF-8')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		meta(http-equiv='X-UA-Compatible' content='IE=edge')


		link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
		link(rel='stylesheet', href='/stylesheets/bootstrap-theme.min.css') 
		link(rel='stylesheet', href='/stylesheets/style.css') 
		link(rel='stylesheet', href='/stylesheets/admins.css') 
		link(rel='stylesheet', href='/fonts/font-awesome/css/font-awesome.min.css')
		link(rel='stylesheet', href='/plugins/bootstrap-tagsinput/bootstrap-tagsinput.css')
		link(rel='stylesheet', href='/plugins/bootstrap-jasny/css/jasny-bootstrap.min.css')
	body.cas
		include head
		div.content
			block content
		include ../snipets/modal_login


			

	script(type='text/javascript' src='/javascripts/jquery-2.1.0.min.js')
	script(type='text/javascript' src='/javascripts/jquery.konami.min.js')
	script(type="text/javascript" src="/javascripts/bootstrap.js")
	script(type='text/javascript' src='/javascripts/jquery.easing.js')
	script(type='text/javascript' src='/javascripts/script.js')
	script(type='text/javascript' src='/plugins/bootstrap-tagsinput/bootstrap-tagsinput.js')
	script(type='text/javascript' src='/plugins/bootstrap-jasny/js/jasny-bootstrap.min.js')

