form.form-horizontal(name="loginForm" method="post" action="login")
	
	.form-group
		label(for="email").control-label.col-md-3.col-sm-3  E-mail 
		.col-md-7.col-sm-7
			input.form-control(type="email" name="email" id="email" placeholder="Ingresa tu Mail")

	.form-group
		label(for="password").control-label.col-md-3.col-sm-3 Password
		.col-md-7.col-sm-7
			input.form-control(type="password" name="password" id="password" placeholder="Ingresa tu Password")

	.form-group
		.col-md-3.col-sm-3
		.col-md-7.col-sm-7
			button.btn.btn-primary.pull-right(type="submit" value="Login") Login 
	.form-group.socialLoginIcons
		label(for="social").control-label.col-md-3 O por redes sociales
		.col-md-7
			a(href='login/twitter')
				i.fa.fa-twitter
			a(href='login/facebook')
				i.fa.fa-facebook
			a(href='login/foursquare')
				i.fa.fa-foursquare
	hr

	.form-group
		.col-md-3
		.col-md-7
				small ¿No tienes cuenta?
				a.btn.btn-success.pull-right(href="/register") Regístrate
	.form-group
		.col-md-3
		.col-md-7
				small ¿Perdiste tu clave?
				button.btn.btn-warning.pull-right.disabled(href="#") Recuperar Password

	