
.icon-noumadsfontsvg500x500:before { content: '\e800'; } /* '' */
.icon-emo-happy:before { content: '\e801'; } /* '' */
.icon-emo-wink:before { content: '\e802'; } /* '' */
.icon-map:before { content: '\e803'; } /* '' */
.icon-emo-unhappy:before { content: '\e804'; } /* '' */
.icon-emo-coffee:before { content: '\e805'; } /* '' */
.icon-emo-cry:before { content: '\e806'; } /* '' */
.icon-emo-sunglasses:before { content: '\e807'; } /* '' */
.icon-map-1:before { content: '\e808'; } /* '' */
.icon-flight:before { content: '\e809'; } /* '' */