extends ../layout

block content
	.row.initial
		.col-xs-11.col-sm-11s.col-centered
			include ../snipets/errors
			.col-md-12 
				h1 Edita tu informacion
				p asddasd
			form.form-horizontal(name="loginForm" method="post" action="")
				.form-group
					label(for="nombre").control-label.col-md-3 Nombre
					.col-md-7
						input.form-control(type="text" value="#{user.nombre}" name="nombre" id="nombre" placeholder="Nombre")
				
				.form-group
					label(for="apellido").control-label.col-md-3 Apellido
					.col-md-7
						input.form-control(type="text" value="#{user.apellido}" name="apellido" id="apellido" placeholder="Apellido")
				
				.form-group
					label(for="email").control-label.col-md-3 E-mail 
					.col-md-7
						input.form-control(type="email" value="#{user.email}" name="email" id="email" placeholder="Mail")
				
				.form-group
					label(for="password").control-label.col-md-3 Password
					.col-md-7
						input.form-control(type="password" name="password" autocomplete="off" id="password" placeholder="Password")
				
				.form-group
					label(for="password2").control-label.col-md-3 Repite tu Password
					.col-md-7
						input.form-control(type="password" name="password2" autocomplete="off" id="password2" placeholder="Repite tu Password")
				
				.form-group
					.col-md-7
						button.btn.btn-default.pull-right(type="submit") Edita tu información